body
	font-family 'BentonSans-Book'
#main-logo
	width 172px
	
/*-----Menu navegacion-----*/
#main-menu
	margin-top 30px
	float right
#main-menu a
	color #65646a
#main-menu a:hover
	color #f6303e
#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover
	border-top solid 3px #f6303e
	margin-top -3px
	background none
	border-radius 0px
#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus
	color #f6303e
#mobile-menu-button
	float right
	width 44px
	margin 20px 10px
#mobile-main-menu
	padding 0
	display none
#mobile-main-menu a
	display block
	width 100%
	padding 10px 0
	border-top 1px solid #eee
	color #65646a
	text-align center
	text-transform uppercase
#mobile-main-menu li
	margin 0
#mobile-main-menu a:hover
	color #fff
	text-decoration none
	background-color #f6303e
#footer
	border-top 1px solid #b2b2b5
	padding 10px 0
	a
		color #333333
	.iconos
		float right
		margin 0 3px
/*-----index-----*/
.items
	padding 0
.imagenes
	width 100%

a:hover span.text-content {
  opacity: 1;
}
.text-content {
  background: rgba(246,48,62,0.5);
  color: white;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.text-content span {
  display: block;
  text-align: center;
  border 1px solid #fff
  width 50%
  margin auto
  padding 10px 10px
  position: absolute;
  top: 50%;
  left: 25%;
}
/*-----sherpa-----*/
#sherpa
	background-image url('../img/sherpa-fondo.jpg')
	background-position center 0
	background-repeat no-repeat
	overflow hidden
.sherpa
	position relative
.foto-oficina
	margin 44px 0px
	width 613px
#globo
	background-image url('../img/globo.png')
	height 386px
	width 455px
	padding 40px 40px
	color #fff
	position absolute
	top 115px
	left 580px
	z-index 10
	font-size 53px
	line-height 50px
.sherpa-grande
	font-size 20px
.rojo
	color #f6303e
.gris
	color #65646a
.thin
	font-family 'BentonSans-Thin'
.book
	font-family 'BentonSans-Book'
.texto-indent
	text-indent 20px
	line-height 30px
.centrado
	text-align center
.img-centrado
	display block
	margin auto
#escritorio
	margin 20px 0 0 0
	font-size 29px
.movil
	font-size 14px
#cuadro-rojo
	background-color #f6303e
	color #fff
	display block
	padding 10px 10px
	font-family 'BentonSans-Book'
	font-size 20px
#servicios-movil
	padding 0
	list-style-type none
#servicios-movil li
	margin 5px 0px
	color #f6303e
	border 1px solid #f6303e
#servicios-movil li a
	padding 10px 10px
	display block
	color #f6303e
	text-decoration none
#servicios
	background-image url('../img/servicios.jpg')
	height 788px
	width 980px
	margin auto
	font-size 20px
	margin-left 10%
	.uno
		display block
		margin 80px 0 auto auto
		text-align center
	.dos
		display inline-block
		width 475px
		margin 60px 0 auto auto
		padding 0 0 0 210px
		float left
	.tres
		display inline-block
		width 475px
		margin 60px 0 auto auto
		padding 0 0 0 200px
		float left
	.cuatro
		display inline-block
		width 475px
		margin 120px 0 auto auto
		padding 0 0 0 115px
		float left
	.cinco
		display inline-block
		width 475px
		margin 120px 0 auto auto
		padding 0 0 0 280px
		float left
	.seis
		display inline-block
		width 475px
		margin 175px 0 auto auto
		padding 0 0 0 95px
		float left
	.siete
		display inline-block
		width 475px
		margin 160px 0 auto auto
		padding 0 100px 0 290px
		float left
		text-align center
	a
		text-decoration none
		color #f6303e
/*-----Contacto-----*/
#hola
	margin 80px 0 0 0
.hola-img
	width 116px
	height 73px
.titulo-escritorio
	font-size 33px
.titulo-escritorio2
	font-size 25px
.campos
	background-color #e8e8e8
	border-radius 2px
	border none
/*-----portafolio-----*/
#gris-fondo
	background-color #f0f0f0
#portafolio
	margin 50px 0
.porta-titulo
	font-size 40px
	color #f6303e
#website
	text-decoration none
	font-size 30px
	text-align center
	display block
	margin 30px 0px
	color #58585a
	span
		color #0074c8
#website2
	text-decoration none
	font-size 30px
	display block
	margin 30px 0px
	color #003a5d
	span
		color #f42434
.espacio-parrafo
	margin 30px 0
/*-----servicios-----*/
#menu-servicios
	margin-top 30px
#menu-servicios a
	font-size 16px
	color #f6303e
#menu-servicios a:hover
	color #f6303e
#menu-servicios.nav-pills>li.active>a,
#menu-servicios.nav-pills>li.active>a:hover,
#menu-servicios.nav-pills>li.active>a:focus,
#menu-servicios.nav-pills>li>a:hover
	background none
	border-radius 0px
#menu-servicios.nav-pills>li.active>a,
#menu-servicios.nav-pills>li.active>a:hover,
#menu-servicios.nav-pills>li.active>a:focus
	color #f6303e
	font-family 'BentonSans-Bold'
.linea-izquierda
	border-right 1px solid #fdd6d8
	height 200px
.linea-abajo
	margin-top 20px
	border-bottom 1px solid #fdd6d8
	height 200px
.icono-servicios
	display block
	width 75px
	height 65px
.puntos
	list-style-image url('../img/bullet.jpg');
.puntos li
	margin 3px 0
.puntos .linea
	width 250px
	display block
	border-bottom 1px solid #fdd6d8
/*-----Fuentes-----*/
@font-face {
  font-family: 'BentonSans-Bold';
  src: url('../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BentonSans-Bold.otf')  format('opentype'),
	     url('../fonts/BentonSans-Bold.woff') format('woff'), url('../fonts/BentonSans-Bold.ttf')  format('truetype'), url('../fonts/BentonSans-Bold.svg#BentonSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans-Book';
  src: url('../fonts/BentonSans-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/BentonSans-Book.otf')  format('opentype'),
	     url('../fonts/BentonSans-Book.woff') format('woff'), url('../fonts/BentonSans-Book.ttf')  format('truetype'), url('../fonts/BentonSans-Book.svg#BentonSans-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans-Thin';
  src: url('../fonts/BentonSans-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/BentonSans-Thin.otf')  format('opentype'),
	     url('../fonts/BentonSans-Thin.woff') format('woff'), url('../fonts/BentonSans-Thin.ttf')  format('truetype'), url('../fonts/BentonSans-Thin.svg#BentonSans-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}